In [1]:
import os
import pandas as pd
from datetime import datetime
import glob
import win32com.client
import msvcrt
import sys
from datetime import timedelta

In [2]:
os.chdir('\\\\FSJ231A\\FP_development_B\\40_工程\\90_検査梱包\\【1-3.測定結果】\\出荷測定データ(170721～)\\01_製品\\CW6A\\2023年\\CW6AS-3315-001')

In [3]:
df_moto = pd.read_excel('CW6AS-3315-001_特性結果一覧表.xlsx',
                    sheet_name='測定結果',
                    usecols="E:I",
                    header=11,
                    )

In [4]:
df_moto

          1        2        3        4        5
0   814.152  819.531  819.531  814.152  817.447
1     33.48   33.573   33.573    33.48   34.449
2     113.3    113.6    114.2    112.9    113.6
3        3H       3H       3H       3H       3H
4      5.89     7.14     5.99     6.53     6.16
..      ...      ...      ...      ...      ...
75  0.53923  0.50913  0.49995  0.50295  0.50602
76  0.46968  0.50768  0.53543  0.51703  0.54131
77        0        -        -        -        -
78        -        0        -        -        -
79        -        -        0        -        -

[80 rows x 5 columns]

In [7]:
df_over_under = pd.read_excel('CW6AS-3315-001_特性結果一覧表.xlsx',
                    sheet_name='測定結果',
                    usecols="O:P",
                    header=11,
                    )

In [11]:
df_over_under

       上限値   下限値
0   900.00   680
1    45.00    31
2   125.00   106
3      NaN    3H
4     8.28  3.72
..     ...   ...
75    0.90   0.1
76    0.90   0.1
77     NaN   NaN
78     NaN   NaN
79     NaN   NaN

[80 rows x 2 columns]

In [18]:
col_names = ['番号', 'ロット番号']
df_lot = pd.read_excel('CW6AS-3315-001_特性結果一覧表.xlsx',
                    sheet_name='測定結果',
                    usecols="B:C",
                    header=2,
                    names=col_names
                    ).head()

In [19]:
df_lot

  番号           ロット番号
0  1  CW6A0A32210016
1  2  CW6A0A32210091
2  3  CW6A0A32210091
3  4  CW6A0A32210022
4  5  CW6A0A32210035

In [20]:
df_lot = pd.read_excel('CW6AS-3315-001_特性結果一覧表.xlsx',
                    sheet_name='測定結果',
                    usecols="B:D",
                    header=11,
                    #names=col_names
                    )

In [21]:
df_lot

       Item Unnamed: 2 Unnamed: 3
0        CS        NaN        NaN
1       DOL        NaN        NaN
2       WCA        NaN        NaN
3      鉛筆硬度        NaN        NaN
4   印刷面 SCI         L*          ①
..      ...        ...        ...
75      NaN        NaN          ③
76      NaN        NaN          ④
77   クロスカット        NaN          ①
78      NaN        NaN          ②
79      NaN        NaN          ③

[80 rows x 3 columns]